@page
@model webapp.Pages.Gatunkii.IndexModel

@{
    ViewData["Title"] = "Lista gatunków";
}

<h1>Lista gatunków</h1>

<p>
    <a asp-page="Create">Utwórz nowy gatunek</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gatunki[0].nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Gatunki) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.gatunek_id">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.gatunek_id">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.gatunek_id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
